div {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#center {
    display: flex;
    justify-content: center;
}

.headerbox {
    display: flex;
    flex-direction: column;
}

.header {
    font-size: x-large;
    width: auto;
    height: auto;
    
}

p {
    flex-wrap: wrap;
    max-width: 300px;
}

.box {
    display: flex;
    /*justify-content: space-evenly; */
    border: 1px black solid;
    border-left: none;
    border-right: none;
    width: 500px;
    height: 100px;
}

#self {
   width: auto;
   height: auto;
   flex: auto;
}

#proj {
    width: auto;
    height: auto;
    flex: auto;
}