div {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#center {
    display: flex;
    justify-content: center;
    
}

.headerbox {
    flex-direction: column;
    flex-shrink: 1;
    border: 1px black solid;
    padding: 30px;
}

a {
    text-decoration: none;
    color: #fff; 
    background: #8D75DA;
    padding: 5px 16px;
    display: inline-block;
    border-radius: 3px;
}

p {
    flex-wrap: wrap;
    max-width: 400px;
}

.projbox {
    display: flex;
    width: 500px;
    height: auto;
    border: 1px black solid;
    border-left: none;
    font-size:large;
    flex-direction: column;
}

.directory a{
    margin: 10px;
    
    
}


.proj {
    width: 300px;
    height: auto;
    flex: auto;
    padding: 10px;
}



li {
    padding-bottom: 20px;
}