div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.headerbox {
    display: flex;
    flex-direction: column;
}

.header {
    font-size: x-large;
    width: 100px;
    height: 50px;
    
}

.box {
    display: flex;
    justify-content: flex-start;
    border: 1px black solid;
}

#self {
   width: 100px;
}

#proj {
    width: 100px;
}